
#title {
    text-align: center;
    font-family: arial, sans-serif;
    color: #002D3D;
  }
  
  #chupetinesGA {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
  }
  
  #chupetinesGA td, #chupetinesGA th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #chupetinesGA tr:nth-child(even){background-color: #f2f2f2;}
  
  #chupetinesGA tr:hover {background-color: #ddd;}
  
  #chupetinesGA th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #000000;
    color: white;
  }
  .btn_plus {
    background-color: #002D3D;
    border: none;
    color: white;
    padding: 2.5px 3px;
    font-size: 1rem;
    cursor: pointer;
  }
  /***
  
  Banner botton
  
  ***/
  .separatorSSJ
  {
    padding-bottom: 10px;
  }
  
.divider
{
	position: relative;
	height: 3px;
}
.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0;
	width: 100%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, #6CDCD6, transparent);
}


/***icons***/

.fa {
      font-size: 2.3rem;
      color: white;
}